<!DOCTYPE html>
<html lang="en" xmlns:th= "https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
	<div align="center" class = "container my-2">
		<h1>Student Management System</h1><hr/>
		<a th:href = "@{/register}" class = "btn btn-success mb-3">Add Student</a>


		<table class = "table" border="1">
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Email</th>
				<th>Course</th>
				<th>Actions</th>
			</tr>

			<tr th:each="student:${listStudent}">
				<td th:text="${student.id}"></td>
				<td th:text="${student.name}"></td>
				<td th:text="${student.email}"></td>
				<td th:text="${student.course}"></td>
				<td>
					<a th:href = "@{/showUpdateForm/{id}(id=${student.id})}" class = "btn btn-info">Update</a>
					<a th:href = "@{/deleteStudent/{id}(id=${student.id})}" class = "btn btn-danger">Delete</a>
				</td>
			</tr>

		</table>
	</div>

</body>
</html>